.cart-icon {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  cursor: pointer;

  .shopping-icon {
    width: 35px;
    height: 35px;
  }

  .item-count {
    font-size: 15px;
    font-weight: bold;

    position: absolute;
    bottom: 8px;
  }
}
