.profile-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sign-out {
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
}

.sign-option {
  padding: 0.3rem;
}
